body, h1, h2, p {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;700;800&display=swap');

.container {
    background-color: black;
    padding: 5px 15px; /* Añadir unidades (por ejemplo, píxeles) a los valores de padding */
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
}

.secTitle {
    margin-top: 70px;
    color: #fd43bc;
    text-align: center;
    margin: 1rem 3; }
.projContainer {
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    justify-content: center; /* Center project cards within the container */
    align-content: start; /* Align content to the top of the container */
}

.projCard {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
    transition: 0.3s;
    width: 300px; /* Set a fixed width for each project card */
    height: 400px;
}

.projCard:hover {
    transform: scale(1.05); /* Apply a hover effect to make cards slightly bigger */
}

.thumbnail {
    position: relative;
}

img{
    width: 350px;
    height: auto;
    vertical-align: middle;
    z-index: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail img {
    width: 100%;
    height: auto;
    display: block; /* Remove extra space below the image */
}

.mask {
    background: #fe8ad5;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: 0.3s;
    opacity: 0;
}

.projCard:hover .mask {
    opacity: 0.9;
}

.title {
    color: #fff;
    font-size: 18px;
    margin: 10px;
    transform: translateY(230px);
}

.descrip {
    color: #fff;
    font-size: 14px;
    margin: 10px;
    transform: translateY(250px);
}

.title1 {
    color: #fff;
    background-color: #ffc089;
    border-radius: 0.98rem;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
}

.nombre{

    font-size: 5.25rem;
    color: #fff;
    line-height: 1.2;
    align-self: center;
}


.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}